@using Rozklad.Repos.Dto
@model BusSheduleCreateDto

<div class="float-end">
    <a href="/home/index" class="btn btn-outline-primary">Повернутися до списку</a>
</div>

<h1>Новий маршрут</h1>
<hr />

<div class=" row">
    <form asp-action="Create" class=" col-md-4">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="DepartureTime" class="form-label"></label>
            <input asp-for="DepartureTime" class=" form-control" />
            <span asp-validation-for="DepartureTime" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="mapsRoute.CoordinateOfArrival" class="form-label"></label>
            <input asp-for="mapsRoute.CoordinateOfArrival" class=" form-control" />
            <span asp-validation-for="mapsRoute.CoordinateOfArrival" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="mapsRoute.CoordinateOfDeparture" class="form-label"></label>
            <input asp-for="mapsRoute.CoordinateOfDeparture" class=" form-control" />
            <span asp-validation-for="mapsRoute.CoordinateOfDeparture" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Busroute.PlaceOfArrival" class="form-label"></label>
            <input asp-for="Busroute.PlaceOfArrival" class=" form-control" />
            <span asp-validation-for="Busroute.PlaceOfArrival" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Busroute.IntermediateStops" class="form-label"></label>
            <input asp-for="Busroute.IntermediateStops" class=" form-control" />
            <span asp-validation-for="Busroute.IntermediateStops" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Busroute.PlaceOfDeparture" class="form-label"></label>
            <input asp-for="Busroute.PlaceOfDeparture" class=" form-control" />
            <span asp-validation-for="Busroute.PlaceOfDeparture" class=" text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label asp-for="Seats" class="form-label"></label>
            <input asp-for="Seats" class=" form-control" />
            <span asp-validation-for="Seats" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="carrier.Name" class="form-label"></label>
            <input asp-for="carrier.Name" type="text" class=" form-control" />
            <span asp-validation-for="carrier.Name" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="carrier.Transport" class="form-label"></label>
            <input asp-for="carrier.Transport" class=" form-control" />
            <span asp-validation-for="carrier.Transport" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="status.StatusValue" class="form-label"></label>
            <input asp-for="status.StatusValue" class=" form-control" />
            <span asp-validation-for="status.StatusValue" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ArrivalTime" class="form-label"></label>
            <input asp-for="ArrivalTime" class=" form-control" />
            <span asp-validation-for="ArrivalTime" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cost" class="form-label"></label>
            <input asp-for="Cost" class=" form-control" />
            <span asp-validation-for="Cost" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Створити</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

