@using Rozklad.Core
@using Rozklad.Repos.Dto
@model BusSheduleReadDto
@{
}


  


 <h1>Видалити замовлення?</h1>
<hr />



<hr />

<form asp-action="ConfirmTicketDelete" class=" col-md-4">
        @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />
    <button type="submit" class=" btn btn-danger">Видалити замовлення!!!</button>
    <a href="/home/ticket" class="btn btn-outline-primary">Повернутися до списку або відмінити</a>
        <</form>
