@using Microsoft.AspNetCore.Identity
@using Rozklad.Repos.Dto

@model BusSheduleReadDto


<div class="float-end">
    <a href="/home/index" class="btn btn-outline-primary">Повернутися до списку</a>
</div>

<h1>Редагування</h1>
<hr />

<div class=" row">
    <form asp-action="Edit" class=" col-md-4">
        @Html.AntiForgeryToken()
        <input asp-for="Id" type="hidden"/>
        <div class="mb-3">
            <label asp-for="DepartureTime" class="form-label"></label>
            <input asp-for="DepartureTime" class=" form-control" />
            <span asp-validation-for="DepartureTime" class=" text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Busrooute.PlaceOfArrival" class="form-label"></label>
            <input asp-for="Busrooute.PlaceOfArrival" class=" form-control" />
            <span asp-validation-for="Busrooute.PlaceOfArrival" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Busrooute.IntermediateStops" class="form-label"></label>
            <input asp-for="Busrooute.IntermediateStops" class=" form-control" />
            <span asp-validation-for="Busrooute.IntermediateStops" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Busrooute.PlaceOfDeparture" class="form-label"></label>
            <input asp-for="Busrooute.PlaceOfDeparture" class=" form-control" />
            <span asp-validation-for="Busrooute.PlaceOfDeparture" class=" text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Seats" class="form-label"></label>
            <input asp-for="Seats" class=" form-control" />
            <span asp-validation-for="Seats" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="carier.Name" class="form-label"></label>
            <input asp-for="carier.Name" type="text" class=" form-control" />
            <span asp-validation-for="carier.Name" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="carier.Transport" class="form-label"></label>
            <input asp-for="carier.Transport" class=" form-control" />
            <span asp-validation-for="carier.Transport" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="status.StatusValue" class="form-label"></label>
            <input asp-for="status.StatusValue" class=" form-control" />
            <span asp-validation-for="status.StatusValue" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ArrivalTime" class="form-label"></label>
            <input asp-for="ArrivalTime" class=" form-control" />
            <span asp-validation-for="ArrivalTime" class=" text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cost" class="form-label"></label>
            <input asp-for="Cost" class=" form-control" />
            <span asp-validation-for="Cost" class=" text-danger"></span>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Зберегти</button>
        </div>
    </form>
</div>

@section Scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function(){
            $(".form-select").select2();
        });
    </script>
}